node_modules
dist
*.log
.env
*.env
*.env.example
*.env.local
*.env.development
*.env.production
*.env.test
*.env.development.local
*.env.production.local
*.env.test.local
*.env.development.local.example
*.env.production.local.example
*.env.test.local.example
*node_modules
*dist
*logs
*logs/*
*logs/**/*
*logs/**/**/*
*logs/**/**/**/*
*logs/**/**/**/**/*
*logs/**/**/**/**/**/*
*logs/**/**/**/**/**/**/*
